footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1400;
    height: 80px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background: #faf9f6;
    border-top: 1px solid #ddd;
    padding: 0 8px;

    img {
        height: 50px;
        padding: 10px;
    }
}

body.ios footer {
    height: 60px;

    img {
        height: 37.5px;
        padding: 7.5px;
    }
}