footer {
    height: 80px;
    display: flex !important;
    justify-content: space-between;

    img {
        height: 50px;
        padding: 10px;
    }
}

.ios .footer {
    height: 60px;

    img {
        height: 37.5px;
        padding: 7.5px;
    }
}