@use "./variables" as *;

.free-space-card {
  width: 200px;
  aspect-ratio: 1;
  perspective: 800px;
  stroke: $vert;
  stroke-width: 4;
  stroke-dasharray: 10 5;
  fill: white;
  color: $vert;

  .free-hex-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;

    .free-hex-front {
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      text-align: center;
      font-size: 0.9rem;
      padding: 10px;
      box-sizing: border-box;

      h4 {
        font-size: 0.66rem;
        padding-top: 10px;
      }

      p {
        font-size: 0.45rem;
      }

      .free-img,
      .icon {
        height: 25px;
      }
    }
  }
}

.library-card.free-space {
  &:hover {
    cursor: pointer;

    .free-space-card {
      fill: $vert;
      color: white;
      transition-duration: 0.4s;

      #vert {
        fill: white;
        transition-duration: 0.4s;
      }
    }
  }
}

/* ----------------------- */
/* Firefox spécifique       */
/* ----------------------- */
@-moz-document url-prefix() {
  .free-space-card {
    perspective: none !important;

    .free-hex-front {
      backface-visibility: visible !important;
      opacity: 1;
      z-index: 2;
      transition: background-color 0.4s, color 0.4s;

      .free-img,
      .icon {
        transition: fill 0.4s;
      }
    }

    &:hover {
      fill: $vert;
      color: white;

      #vert {
        fill: white;
      }
    }
  }

  .free-hex-inner {
    transform: none !important;
  }

  .free-hex-front {
    transform: none !important;
  }

  .free-space-card:hover .free-hex-front {
    transform: rotateY(0deg);
  }
}

/* ----------------------- */
/* IOS spécifique          */
/* ----------------------- */

body.ios {
  .free-space-card {
    width: 180px;
    height: 180px;
    -webkit-perspective: 800px;
  }

  .free-hex-inner {
    min-width: 180px;
    min-height: 180px;
    -webkit-transform-style: preserve-3d;
  }

  .free-hex-front {
    -webkit-backface-visibility: hidden;

    .free-img, .icon  {
      height: 50px !important;
    }
  }

  .free-hex-front h4 {
    font-size: 1.2rem !important;
  }
}