// Couleurs charte graphique
$turquoise: #009F8C;
$orange: #EF7D00;
$mauve: #AD498D;
$bleu-fonce: #312783;
$bleu-clair: #0085C0;
$vert: #8BB31D;
$rose: #E73458;
$jaune: #F2B500;
$blanc: #F7F3EE;
$gris: #575756;
